
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fafafa;
    color: #222;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #ff9933;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1524492412937-b28074a5d7da");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero button {
    padding: 12px 30px;
    background: #ff9933;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.hero button:hover {
    background: #e67e22;
}

/* SECTIONS */
.section {
    padding: 90px 60px;
    text-align: center;
}

.section.alt {
    background: #f1f3f6;
}

.section h2 {
    margin-bottom: 20px;
    color: #0b3d91;
}

/* CARDS */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* SCHEMES */
.scheme-list {
    list-style: none;
    max-width: 600px;
    margin: auto;
}

.scheme-list li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-left: 5px solid #138808;
}

/* EVENTS */
.events {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.event-box {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FORM */
form {
    max-width: 450px;
    margin: auto;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 12px;
    background: #138808;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 15px;
}

#db a{
    text-decoration: none;
    color: white;
}